################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SharedProject/DesignTimeBuild
/.vs/SharedProject/v16/Server/sqlite3
/.vs/SharedProject/v16
/.vs
/UnitTestSharedProject/bin/Debug/netcoreapp2.2
/UnitTestSharedProject/obj
/UnitTestSharedProject/bin/Debug/netcoreapp1.0
/UnitTestSharedProject/bin/Debug/netcoreapp1.1
